doctype html
html
    head
        style
            include includes/style.css
        title Potato

    body
        header
            include ./includes/header.pug

        br
        a(href="/cloud?path=",name="Cloud") Cloud
        br

        footer
            include ./includes/footer.pug
