doctype html
html
    head
        style
            include includes/style.css
        title Potato

    body
        include ./includes/header.pug

        h1 LOGIN

        include ./includes/footer.pug
